**/*.baseDir.ts
.idea/**/*.xml
!.idea/codeStyleSettings.xml
.grunt
.sass-cache
.tscache
/bower_components/
/build/
/demo/styles/
/dist/
/docs/
/lib/
/nbproject/private/
/node_modules/
/report/
/selenium-debug.log
/test/nightwatch/report
/test/nightwatch/screenshots
